$font-stack: inherit, sans-serif;

.result-card {
    display: flex;
    flex-direction: row;
    font-family: $font-stack;
    border-color: rgb(203, 218, 252);;

    .result-card__img-container {
        height: 100%;
        width: 30%;
    }

    .result-card__img-container {

        img {
            width: 60px;
            height: 35px;
            border-radius: 4px;
        }
    }

    .result-card__general-info {
        font-weight: 600;
        font-size: 85%;
    }

    .result-card__sub-info {
        font-size: 70%;
        font-style: italic; 
    }
}

.result-card:hover {
    z-index: 1;
    transition: all .25s ease;
    background-color: rgb(245, 248, 255);
    box-shadow: 0 0 25px 0 rgb(101, 161, 252);
    cursor: pointer;
}