.typehead {
    bottom: 0;
    height: 400px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;

    .typehead__form-control{
        border-color: rgb(203, 218, 252);
        box-shadow: 0 0 10px 0 rgb(177, 208, 255);
    }
    .typehead__form-control:focus {
        box-shadow: 0 0 25px 0 rgb(101, 161, 252);
    }

    .typehead__options{
        margin-top: 10px;
    }
}