
.typehead {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

    .typehead__input-group {

    }

    .typehead__form-control{
        border-color: rgb(203, 218, 252);
        box-shadow: 0 0 5px 0 rgb(101, 161, 252);
    }
    .typehead__form-control:focus {
        box-shadow: 0 0 25px 0 rgb(101, 161, 252);
    }

    .typehead__options{
        margin-top: 10px;
    }
}