@import 'result-card';
@import 'page';
@import 'typehead';

.wrapper {
    background: linear-gradient(white, rgb(139, 181, 245));
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
}
