.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.reusable_container {
    display: flex;
    flex-direction: row;
}

.reusable_subInfo {
    display: flex;
    flex-direction: row;
}

.reusable_imgContainer {
}

.reusable_generalInfo {
    
}

.reusable_subInfo {
}